@font-face {
  font-family: 'Black Mango';
  src: url('/src/fonts/BlackMango-Regular.woff2') format('woff2'),
       url('/src/fonts/BlackMango-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
